<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

</head>

<body>

    <header>
        <a class="logo"></a>
    </header>

    <div id="container">
        <nav class="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </div>

    <main data-router-wrapper>
        <article data-router-view="about">
            <h1>About</h1>
        </article>
    </main>

</body>

</html>